<div class="md-4">
    <h3>Job Application Form</h3>
    <form action="/job/{{job.id}}/apply" method="POST">
        
        <div>
            <label for="full_name">Full Name:</label><br>
            <input type="text" id="full_name" name="full_name" placeholder="John Smith" class="mb-2" required autofocus style="width: 250px;" value="John Smith"><br>
        </div>

        <div>
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" name="email" placeholder="john.smith@gmail.com" class="mb-2" required style="width: 250px;" value="john.smith@gmail.com"><br>
        </div>

        <div>
            <label for="linkedin_url">LinkedIn Profile:</label><br>
            <input type="url" id="linkedin" name="linkedin_url"  class="mb-2" required style="width: 250px;" value="https://www.linkedin.com/"><br>
        </div>

        <div>
            <label for="education">Highest Education:</label><br>
            <textarea id="education" name="education" rows="4" cols="50">B.Tech at XYZ college</textarea>            
        </div>

        <div>
            <label for="experience">Relevant Experience:</label><br>
            <textarea id="experience" name="experience" rows="4" cols="50">Fresher</textarea>
        </div>

        <div class="mb-2">
            <label for="resume_url">Resume Link (Google Drive/Dropbox):</label><br>
            <input type="url" id="resume_url" name="resume_url"  class="mb-2" required style="width: 250px;" value="https://drive.google.com"><br>
        </div>
        
        <div>
            <button type="submit" class="btn btn-outline-primary">Submit Application</button>
        </div>
        
    </form>
</div>

