<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>{{job.title}} - Application Submitted</title>
</head>
<body>
    {% include 'banner.html' %}
    {% include 'nav.html' %}

    <div class="container">
        <h1 class="text-center mt-2 mb-4"> Jovian Careers </h1>    
        <p>Your application for the role of <b>{{job['title']}}</b> at Jovian has been submitted!</p>

        <b class="mb-0">Full Name</b>
        <div class="mb-2"> {{application['full_name']}} </div>
        
        <b class="mb-0">Email</b>
        <div class="mb-2"> {{application['email']}} </div>
        
        <b class="mb-0">LinkedIn Profile</b>
        <div class="mb-2"> {{application['linkedin_url']}} </div>   
        
        <b class="mb-0">Highest Education</b>
        <div class="mb-2"> {{application['education']}} </div>        
        
        <b class="mb-0">Relevant Experience</b>
        <div class="mb-2"> {{application['experience']}} </div> 
        
        <b class="mb-0">Resume Link</b>
        <div class="mb-2"> {{application['resume_url']}} </div>    

    </div>

    {% include 'footer.html' %}
</body>
</html>